.RegistrationPage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    .modal-container{
        border: 1px solid #525252;
        border-radius: 16px;

        width: 400px;
        
        display: flex;

        padding: 2rem;

        margin: 0 auto;

        flex-direction: column;

        color: #fff;

        .input-container {
            margin-bottom: 8px;
        }

        button {
            color: black;
            border-radius: 8px;
            margin-top: 16px;
            background-color: #E2E2E2;
        }

        .error-message{
            color: red;
        }

        .link-sign{
            margin-top: 8px;
            text-align: right;
        }
    }      
}